textarea
{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-family: 'Verdana', Fallback, sans-serif;
}

body
{
  margin: 0;
  padding: 0 0 0 500;
}

label
{
  color: #444444;
  display: block;
  float: left;
  font-size: 22px;
  padding: 0;
  width: 180px;
}

#registerform
{
  display: block;
  width: 512px;
}

.formrow
{
  display: block;
  margin-bottom: 30px;
}

h1, form
{
  font-family: "Asap", Helvetica, Arial, sans-serif;
}

.div-top
{
  float: right;
}

* html body
{
  overflow: hidden;
}

#formregister
{
  position: absolute;
  top: 0px;
  padding: 15px 3% 15px 3%;
  margin: 35px 35px 0 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  box-shadow:
  0pt 2px 5px rgba(105, 108, 109,  0.7),
  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
  border-radius: 5px;
 }

#formregister
{
  z-index: 22;
}

#container
{
  width: 100%;
  height: 100%;
  position: relative;
}

#content-top
{
  line-height: 15px;
  width: 100%;
  margin-top: -60px;
  text-align: right;
}

#content-top a
{
  text-decoration: none;
}
