/server/Makefile.Debug
/server/Makefile.Release
/server/Makefile

/3rd/build

/3rd/lib

/server/release
/server/debug

/Makefile
/3rd/qhttpserver/Makefile
/3rd/qhttpserver/Makefile.Debug
/3rd/qhttpserver/Makefile.Release
/3rd/QtWebsocket/Makefile
/3rd/QtWebsocket/Makefile.Debug
/3rd/QtWebsocket/Makefile.Release
/3rd/QtWebsocket/debug
/3rd/QtWebsocket/release

/server/object_script.server-debug.Debug
/server/object_script.server-release.Release

/fefu-mmorpg.pro.user.3.0-pre1
/fefu-mmorpg.sublime-project
/fefu-mmorpg.sublime-workspace
