/server/Makefile.Debug
/server/Makefile.Release
/server/Makefile

/3rd/build

/3rd/lib

/server/release
/server/debug

/Makefile
/3rd/qhttpserver/Makefile
/3rd/qhttpserver/Makefile.Debug
/3rd/qhttpserver/Makefile.Release
/3rd/QtWebsocket/Makefile
/3rd/QtWebsocket/Makefile.Debug
/3rd/QtWebsocket/Makefile.Release
/3rd/QtWebsocket/debug
/3rd/QtWebsocket/release

/server/object_script.server-debug.Debug
/server/object_script.server-release.Release

/fefu-mmorpg.pro.user.3.0-pre1
/fefu-mmorpg.sublime-project
/fefu-mmorpg.sublime-workspace

/fefu-mmorpg.pro.user
/bin/server-debug.exe
/bin/server-release.exe
/bin/level-map.png
/fefu-mmorpg.pro.user.1.3
/monster-parser/ParserMonster.pro.user
/monster-parser/debug
/monster-parser/Makefile
/monster-parser/Makefile.Debug
/monster-parser/Makefile.Release
bin/generated-level-map.png
/monster-parser/release
*.pro.user*
angband-parser/release
angband-parser/Makefile
angband-parser/Makefile.Debug
angband-parser/Makefile.Release
angband-parser/debug/DataBase.o
angband-parser/debug/Monster.o
angband-parser/debug/Object.o
angband-parser/debug/main.o
bin/level-map-00.png
bin/output.txt
bin/_level-map.png
server/ui_mainwindow.h
